h2{
    text-align: center;
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
}
div {
    background-color: beige;
    width: 500px;
    border: 15px solid goldenrod;
    padding: 50px;
    margin-top: 50px;
    margin-left: 450px;
    text-align: center;
}
.a{
    background-color: black;
    color:pink;
    text-align:center;
    font-size: 25px;
}
.b{
    background-color: black;
    color:pink;
    text-align: center;
    font-size:20px;
}
